{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "10.21"
      }
    }]
  ],
  "overrides": [{
    "test": "src/internal/import.js",
    "presets": [
      ["@babel/preset-env", {
        "modules": false
      }]
    ]
  }]
}
